.nav-menu
  position: fixed !important
  z-index: 100000
  height: 60px
  border-bottom: 1px solid lightgrey
  .react-bodymovin-container
    height: 100px

  .menu-icon
    height: 70px !important
    background-position: center !important
    background-size: 50% !important
    border-bottom: 1px solid $light-grey
  .menu
    z-index: 100000
    width: 50% !important
    margin-top: 70px !important
    .menu-item
      display: flex
      position: relative
      width: 8.3vw
      justify-content: center
      align-items: center
      height: 90px
      border-bottom: 1px solid $light-grey
