.action-btn
  border-radius: 0px
  display: block
  left: 0
  top: 0
  z-index: 10000000000
  text-align: center
  .menu-btn
    height: 60px !important
    width: 8.3vw
    position: absolute
    font-size: 18px
    font-weight: 700
    color: grey
    &:hover
      color: black
    top: 0
    left: 0
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    z-index: 1000 !important
  ul
    text-align: center
    left: 2.4vw
    top: 80px
    width: 9vw
    li
      margin: 15px
.nav-menu
  position: fixed !important
  display: flex
  justify-content: center
  align-items: center
  z-index: 1000
  height: 60px
  border-bottom: 1px solid lightgrey
  .react-bodymovin-container
    height: 100px
  .menu-icon-media
    position: fixed
    bottom: 0
    right: 2.5vw !important
    width: 40px !important
    li
      height: 50px
    .menu-item-icon
      background-size: 70% !important
      background-position: center !important
      background-repeat: no-repeat !important

  .menu-icon
    height: 70px !important
    width: 8.3vw
    position: absolute
    top: 0
    left: 0
    display: flex
    justify-content: center
    align-items: center
    z-index: 1000 !important
    .dot-right
      bottom: 0.20rem
      z-index: 1000 !important
    &:hover
      .dot-right
        background-color: red
  .menu
    z-index: 1000
    width: 50% !important
    margin-top: 60px !important

    .menu-item
      display: flex
      position: relative
      width: 8.40vw
      left: 0
      top: 80px
      justify-content: center
      align-items: center
      height: 90px
      text-align: center
      height: 45px
      font-weight: 300
      font-size: 14px


      &.main-item
        padding-bottom: 1px !important
        padding-right: 3px !important
        background-size: 100% 5px
        background: linear-gradient(to left, white 0%,rgba(83,0,30,1) 100%) no-repeat
        top: 0
        color: lightgrey
        .dot-right
          right: -0.35rem
        &:hover
          color: black
          text-decoration: underline
          .dot-right
            background-color: red

      &.no-border
        border: none

      button
        height: 40px
        height: 100%
        width: 100%

        background: white
