.highcharts-container
  padding-top: 70px
.highcharts-label
  display: none
.highcharts-credits
  display: none
.highcharts-data-label-connector
  display: none
.highcharts-legend-item
  display: none
.highcharts-grid-line
  display: none
.highcharts-axis-title
  display: none
.highcharts-xaxis-labels
  display: none
.highcharts-yaxis-labels
  display: none
.highcharts-xaxis
  display: none
.player-main-wrapper
  .highcharts-grid
    display: none
  .highcharts-axis
    display: none
  .highcharts-axis-labels
    display: none
