@import "./cover.sass"
@import "./info.sass"
@import "./graph.sass"


.player
  width: 100%
  position: relative
  +flex(null,center,center)

.player-wrapper
  +Position(relative, 0px, 0px, 310px, 310px)
  opacity: 1

  &.small
    +Position(relative, 0px, 0px, 210px, 210px)


.player-main-wrapper
  +border-bottom-dark
  +flex(null,center,center)
  height: 500px
  width: 280px
  position: relative
  border-right: 1px solid grey

  .player-wrapper
    +Position(relative, 0px, 0px, 210px, 210px)
    margin-bottom: 80px
    opacity: 1

  .player-layers
    +flex(null,center,center)
    +Position(absolute, 432px, null, auto, 100%)
    right: 0

    &.buy
      +Position(absolute, 348px, null, auto, 100%)

    &.main-info
      animation: MainInfoLayerPosition 0.3s ease-in-out
      animation-fill-mode: forwards

    &.default
      animation: MainInfoLayerRePosition 0.3s ease-in-out

    .layer-frame-dot
      top: 10px
    .player-layer-line
      +border-bottom-light
      position: absolute
      width: 100%
      z-index: -1
    .player-layer-dot
      width: 10px
      height: 10px
      box-shadow: 0 0 0pt 2pt rgba(205, 0, 0, 1), 0 0 0pt 2.2pt red
      background-color: red
      border-radius: 5px
      margin: 10px

  .player-redirect
    position: absolute
    bottom: 0
    height: 51px
    width: 0px
    display: none
    background-color: white
    width: 50px
    animation: DisplayEaseFast 0.4s ease-in-out
    animation-fill-mode: forwards
    &.right
      border-left: 1px solid lightgrey
      right: 0
    &.left
      border-right: 1px solid lightgrey
      left: 0
