.article3
  background-size: cover !important
  border-bottom: none
  height: 700px


  .article3-avatar
    +Position(absolute !important, 27%, null, 30px, 30px)
    +flex(null, center, center)
    background-color: #6884FB
    border: 3px solid white
    &.number-3
      top: 243px
      left: 10vw
    &.number-2
      top: 458px
      left: 90px
    &.number-1
      top: 213px
      left: 18vw

  .article3-hash
    +flex(null, center, center)
    height: 700px
    @media #{$medium-and-down}
      height: 300px

    .article3-hash-line
      +Position(absolute, 270px, null, null, 70%)
      +border-top-dark
      position: absolute

    .redirect
      +Position(absolute, 590px, 41.5%, null, null)
      transform: rotate(90deg)
      z-index: $z-xtop

  .article3-content-background
    +Position(absolute, 0px, 0px, 100%, 0px)
    padding: 0px

  .article3-text-content
    +flex(null, center, center)
    top: 0px

  .article3-header
    margin-top: 170px
    position: relative
    @media #{$medium-and-down}
      margin-top: 0
    h1
      +Position(absolute, 50px, 30px, 100%, auto)
      text-transform: uppercase
      @media #{$large-and-up}
        +configFont(68px, bolder, null)

      @media #{$extra-large-and-up}
        +configFont(88px, bolder, null)


    h2
      +configFont(33px, 700, null)
      +primary-font-bold
      +Position(absolute, 0px, 30px, 100%, auto)
      text-transform: uppercase
    p
      +configFont(1.25rem, 400, null)
      +primary-font-light
      +Position(absolute, 180px, 30px, 100%, 70%)
    a
      +configFont(1.25rem, 400, null)
      +primary-font-light
      +colors(null, $ryme-pale-blue)
      +Position(absolute, 360px, 30px, 100%, 70%)
      text-transform: uppercase

    .text-block-color
      +colors($ryme-dark-blue, null)
      margin-left: 30px
      text-align: left
      height: 10px
      width: 70px
      margin-bottom: 20px

  .text-background
    margin-top: 120px
    margin-left: 45%
    position: absolute
