.article2
  +border-bottom-light
  border-left: 1px solid $light-grey
  border-right: 1px solid $light-grey
  height: 200px
  position: relative

  .article2-main
    align-items: center
    display: flex
    height: 100%
    justify-content: center

    h3
      +configFont(33px, 300, null)
      font-family: 'Inter UI', sans-serif

    .article2-main-column
      text-align: left
      margin-left: 50px


    .article2-main-content
      &#article2-1
        animation: .7s animShow
      &#article2-2
        animation: 1.2s animShow
      &#article2-3
        animation: 1.5s animShow
      &#article2-4
        animation: 1.9s animShow


  .article2-grid-right,
  .article2-grid-left
    +Position(relative, null,null, 100%, 200px)
    border-left: 1px solid $light-grey
    padding: 0px

  .article2-grid-left
    +flex(null, center, center)
    +configFont(33px, bolder, null)
