.article8
  +border-bottom-light
  border-left: 1px solid $light-grey
  border-right: 1px solid $light-grey
  border-top: 1px solid $light-grey
  border-bottom: 1px solid $light-grey
  // +flex(center, center, center)
  margin-top: 100px
  .article8-main
    text-align: center
    width: 65%
    .article8-main-header
      +configFont(70px, bolder, null)
    .article8-main-subheader
      +configFont(40px, bolder, null)
    .article8-main-content
      +configFont(18px, bolder, null)

  .article8-bottom-info
    position: absolute
    height: 500px
    bottom: 0
    width: 100%
