/// Primary Spacer
$cap: .9ex
$spacer-none: 0
$spacer-2xs: round($cap * .5)
$spacer-xs: $cap
$spacer-sm: round($cap * 1.5)
$spacer-md: round($cap * 2.5)
$spacer-lg: round($cap * 4)
$spacer-xl: round($cap * 6.5)
$spacer-2xl: round($cap * 10.5)

// z-index:
$z-low: 0
$z-middle: 10
$z-top: 100
$z-xtop: 900
