main
  font-family: 'Inter UI', sans-serif
  position: relative

button
  outline: none
  background: none
  border: none

.path:hover
  opacity: 0.5

.left-column
  height: 70px
  position: relative
  z-index: 9999
  border-bottom: 1px solid $light-grey
  z-index: -1

.col
  padding: 0px !important

.drawerRight
  border-left: 1px lightgrey
  div
    width: 15% !important
