.demo-player
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  height: 60vh

  .demo-avatar
    width: 30px
    height: 30px
    border: 3px solid white
    position: absolute
    top: 26%
    left: 5%
  .player-wrapper
    top: 0
    left: 0

    .player-cover
      top: 25px
      left: 19px

.demo-badges
  display: flex

.main-options
  +border-top-light
  +border-bottom-light
  .main-options-steps
    +border-bottom-light
  .demo-description
    height: 5vh
    text-align: center
  .demo-btn
    text-align: center
  .demo-illustration
    width: 100%
    height: 40px

.demo-main
  height: 100%
  border-right: 1px solid lightgrey
  border-left: 1px solid lightgrey
  .demo-main-label
    height: 40px
    text-align: center
    span
      font-size: 25px
    font-size: 50px
    +primary-font-bold
  .demo-main-visual
    background-color: white
    +flex(null, space-between, center)
    .demo-chart-title
      +Position(absolute, 270Px, null, null, 100%)
      text-align: center
  .demo-main-info1
    z-index: 1
    .info-label
      +primary-font-light
      +flex(null, center, center)
      height: 50px
      text-align: center
    .info-val
      +primary-font-bold
      +flex(null, center, center)
      font-size: 30px
      border-top: 1px solid lightgrey
      border-bottom: 1px solid lightgrey
      height: 50px
  .demo-main-info2
    height: 50px
    background-color: white
    position: relative
    .demo-info2-content
      top: 0px
      position: absolute
      display: flex
      flex-direction: row
      height: 100%
      width: 100%
      .demo-info2-content-element
        height: 100%
        width: 100%
        border-right: 1px solid lightgrey
        border-bottom: 1px solid lightgrey
  .demo-main-info3
    height: 50px
    text-align: center
    .info-label
      +primary-font-light
      +flex(null, center, center)
      +configFont(20px, 700, null)
      width: 50%
      margin-left: 25%
      height: 50px
      text-align: center
      &.info-left
        color: $ryme-dark-blue
        border-top: 3px solid $ryme-dark-blue
        border-bottom: 3px solid $ryme-dark-blue
      &.info-center
        color: $ryme-pale-blue
        border-top: 3px solid $ryme-pale-blue
        border-bottom: 3px solid $ryme-pale-blue
      &.info-right
        color: $ryme-red
        border-top: 3px solid $ryme-red
        border-bottom: 3px solid $ryme-red
    .info-val
      +primary-font-bold
      +flex(null, center, center)
      font-size: 30px
      border-top: 1px solid lightgrey
      border-bottom: 1px solid lightgrey
      height: 50px
  .demo-main-info4
    height: 140px
    background-color: white

  .demo-main-info5
    .options
      .options-label
        +flex(null, center, center)
        height: 50px
        background-color: white
      .options-button
        height: 70px
        .options-button
          border-top: 1px solid lightgrey
          border-right: 1px solid lightgrey
          +flex(null, center, center)
          .button-dot
            border: 1px solid lightgrey
            height: 30px
            width: 30px
            border-radius: 15px
    .options-val
      +flex(null, center, center)
      background-color: white
      border-right: 1px solid lightgrey
      height: 90px
