
// Primary colors
$murmur-primary-red: #FE0004
$murmur-primary-yellow: #FDD113
$murmur-primary-blue: #4891D9
$light-grey: #A3A3A3


// Primary Font
=primary-font-light
  font-family: 'Inter UI', sans-serif
  font-weight: 300
=primary-font-bold
  font-family: 'Inter UI', sans-serif
  font-weight: 700
=secondary-font-light
  font-family: 'Inter UI', sans-serif
  font-weight: 300
=secondary-font-bold
  font-family: 'Inter UI', sans-serif
  font-weight: 700

// border-bottom to create layout
=border-bottom-dark
  border-bottom: 1px solid grey
=border-bottom-light
  border-bottom: 1px solid lightgrey

// hash background using gradient
=hash-background-45
  background: repeating-linear-gradient(45deg, grey, lightgrey 1px, transparent 0.5px, transparent 8px, grey 1px)
=hash-background-45bis
  background: repeating-linear-gradient(-45deg, grey, lightgrey 1px, transparent 0.5px, transparent 8px, grey 1px)
