.nav-bar
  border-bottom: 1px solid $light-grey
  border-left: 1px solid $light-grey
  border-right: 1px solid $light-grey
  height: 60px
  width: 83.3vw
  background-color: white
  top: 0
  position: fixed
  text-align: center
  z-index: 1001 !important

  .navBar-logo-title
    text-align: center
    background-repeat: no-repeat
    background-size: 50px
    background-position: center
    background-color: white
    height: 90px
    width: 90px !important
    border-radius: 0px 0px 5px 5px

  .navBar-grid-right,
  .navBar-grid-center,
  .navBar-grid-left
    height: 100px
    position: relative
    width: 200px

  .navBar-grid-right
    display: flex
    justify-content: center
    align-items: center
    color: #333
    flex-direction: column
    font-size: 22px
    z-index: -1
    p
      margin: 5px
      font-weight: 300
